:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--tg-theme-button-color);
  text-decoration: inherit;
}
a:hover {
  opacity: 0.9;
}

/* Базовые стили для фокуса элементов */
:focus {
  outline: 2px solid var(--tg-theme-button-color);
  outline-offset: 2px;
}